django==5.2.12
gunicorn==25.1.0
whitenoise==6.12.0
numpy==2.2.6
pandas==2.3.3
nltk==3.9.3
gensim==4.4.0
scipy==1.15.3
scikit-learn==1.7.2
tensorflow-cpu==2.21.0
Pillow==12.1.0
joblib==1.5.3
h5py==3.14.0
pytesseract==0.3.10
